
.detail-loan-container {
    flex: 1;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 0px;
}

.loan-detail-card {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card-header h2 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-close {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

/* Grid thông tin chung */
.loan-summary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 20px;
}

/* Tiền phạt nằm ở dòng dưới hoặc chiếm vị trí phù hợp */
.summary-item label {
    display: block;
    font-size: 11px;
    color: #888;
    font-weight: bold;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
}

.summary-item p {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.fine-text {
    color: #333;
}

.divider {
    height: 1px;
    background-color: #f0f0f0;
    margin: 30px 0;
}

/* Danh sách sách */
.loan-books-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.loan-book-item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fafafa;
}

.loan-book-item:last-child {
    border-bottom: none;
}

.loan-book-item img {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-info .book-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.book-info .book-copy-id {
    font-size: 13px;
    color: #666;
    margin: 0;
}

.book-info .book-borrow-detail-id {
    font-size: 13px;
    color: #666;
    margin: 5px 0 0 0;
}

.book-extra-info {
    margin-top: 6px;
    font-size: 13px;
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-extra-info span {
    display: block;
}

.book-extra-info .fine {
    color: #b00020;
    font-weight: bold;
}


/* Mobile Responsive */
@media (max-width: 768px) {
    .loan-summary-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}